.t-row{
    width: 100%;

    column-gap: 3px;
}
td{    
 margin: 0rem 3rem;
 padding: 2px;
}
.val{
    color: rgb(238, 212, 64);
    /* margin-left: 1rem; */
    padding-left: 2rem;
}
.watchlist-icon1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: rgb(0, 255, 60);
 }