.heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    /* position: sticky; */
    top: 0;
}

.heder h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.link {
    font-size: 1rem;
    color: rgb(59, 113, 59);
    text-decoration: none;
}

.link:hover {
    color: white;
    transform: all 0.5sec;
}
.drawer-container{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .links {
        display: none;
    }
    .drawer-container{
        display: block;
    }
    .heder {
        padding: 1.5rem;
    }
    .drawer-links{
        background-color:rgb(43, 40, 40);
        width: 10vw;
        height: 100vh;
        padding: 0.5rem;
    }
}