html {
    scroll-behavior: smooth;
  }
body{  
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    min-height: 200vh;
    background-color:var(--black);
        color: rgb(102, 97, 97);
    overflow-x:hidden;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
   }
/* ################ info.js ###########coinpage->info.js */
.info{
    width: 90%;
    font-size: small;
    border-radius:9px;
    background-color: rgb(210, 210, 215);
}
.info_p{
    text-decoration: rgb(12, 232, 71) ;
}
/* ########### chart.js ########## */
.chart-flex{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.5rem;
    margin-bottom:1.5rem;
}
/* ###########selectcoin.js############# */

.selectCoin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
gap: 1rem;
}
.selectCoinFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
gap: 0.5rem;
}

.compare-Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}