body{  
    padding-left: 2rem;
    min-height: 200vh;
    background-color: rgb(29, 28, 28);
    color: white;
    overflow: scroll;
}
/* ################ info.js ###########coinpage->info.js */
.info{
    width: 90%;
    font-size: small;
    border-radius:9px;
    background-color: rgb(210, 210, 215);
}
.info_p{
    text-decoration: rgb(12, 232, 71) ;
}
/* ########### chart.js ########## */
.chart-flex{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.5rem;
    margin-bottom:1.5rem;
}
/* ###########selectcoin.js############# */

.selectCoin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
gap: 1rem;
}
.selectCoinFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
gap: 0.5rem;
}

.compare-Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}